.parent-container-inspect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 10% 0 0 6%;
    position: relative; /* For absolutely positioned buttons */
}

.pokemon-image-inspect {
    width: 200px;
}

.pokemon-info-wrapper {
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
}

.card-and-stats-wrapper {
    display: grid;
    width: fit-content;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.pokemon-card-inspect {
    border: 2px solid var(--color-accent);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: var(--color-text);
    text-transform: capitalize;
    font-size: 25px;
    background-color: var(--color-base);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 250px;
}

.pokemon-stats {
    width: 300px;
    padding-left: 4%;
}

.pokemon-stats h2 {
    margin: 1% 0 4% 0; /* Consistent spacing */
    line-height: 1.5;
}

.radar-chart {
}

.add-to-team-button {
    font-size: 18;
    width: 8rem; 
    height: 2.5rem; 
    margin-left: 9.2%; /* i dont think its perfectly centered but good enough */
}

.flavor-text {
    font-size: 40;
    color: var(--color-text);
}

@media (max-width: 1267px) {
    .parent-container-inspect {
        grid-template-columns: 1fr; /* Stack items vertically */
        justify-items: center; /* Center align items */
        padding-left: 6%;
        padding-top: 10%; /* Maintain padding */
    }

    .radar-chart {
        margin-top: 1rem; /* Consistent spacing */
    }

    .return-button {
        top: 14%;
        left: 6%;
    }

    .add-to-team-button {
        top: 20%; /* Maintain positioning or adjust if necessary */
        left: 90%; /* Maintain positioning */
    }
}