
/* Container for the entire minigame */
.minigame-container {
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    padding-left: 14%;
    padding-right: 14%;
}

/* Container for the random pokemon displayed in the minigame */
.minigame-pokemon-container {
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 10%;
}

/* Card for displaying the pokemon */
.minigame-pokemon-card {
    scale: 1.3;
    border-radius: 10px; /* Make the edges rounded */
    padding: 0.3%; /* Add padding inside the card */
    text-align: center; /* Center the content in the card */
    color: var(--color-text);
    text-transform: capitalize;
    font-size: 20px;
    background-color: var(--color-base); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    width: 150px; /* Fixed width for uniformity */
    transition: background-color 0.3s ease, transform 0.1s ease-in-out;
}

.minigame-pokemon-card:hover {
    background-color: #424242;
    cursor: pointer;
    transform: scale(1.01);
}

.minigame-tie-button {
    scale: 1.5;
}

.minigame-instruction-container {
    width: 100%;
}

.minigame-example-image {
    width: 200px;
}

.example-container {
    margin-top: 4%;
}

.minigame-example-type-image {
    width: 110px;
    margin-left: 30px;
    margin-right: 50px;
}

.start-minigame-button {
    scale: 1.5;
}



