
.minigame-container {
    align-content: center;
    text-align: center;
    margin-top: 100px;
}

.minigame-pokemon-container {
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 10%;
}





