
.no-teams-or-user-found-container {
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
}

.my-teams-pokemon-card {
    border-radius: 10px; /* Make the edges rounded */
    padding: 10px; /* Add padding inside the card */
    text-align: center; /* Center the content in the card */
    color: var(--color-text);
    text-transform: capitalize;
    font-size: 20px;
    background-color: var(--color-base); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    width: 130px; /* Fixed width for uniformity */
    transition: background-color 0.3s ease, transform 0.1s ease-in-out;
}

.my-teams-pokemon-card:hover {
    background-color: #424242;
    cursor: pointer;
    transform: scale(1.01);
}

.my-team-name-container {
    text-align: center;
    padding: 30px;
}

.my-team-remove-button {
    border: 2px solid var(--color-accent);
    transition: all 0.2s ease;
    scale: 1.2;
    margin: 20px;
}

.my-team-remove-button:hover {
    background-color: var(--color-accent-hover);
    cursor: pointer;
}

/*New styles for browse teams*/
.team-flex-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 0px;
}

.team-header {
    margin-top: 50px;
    margin-bottom: 0;
}

.team-title {
    margin-top: 1px;
    margin-bottom: 0;
}

.team-actions-left {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px; 
}

.heart-like-count {
    font-size: 16px;
    font-weight: bold;
    color: white; 
}

.heart-like-button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.heart-like-button.liked {
    color: #e63946; 
}

.heart-like-button:hover {
    transform: scale(1.1); 
}
