/* Original colors

--color-base: #052964; 
--color-accent: #de9c19; 
--color-secondary-accent: #02183C;
--color-text: #FCB21C; 
--color-accent-hover: #2980b9;
--color-button-border:#de9c19;

*/

:root {
    --color-base: #323232; /* Base color (e.g., background) */
    --color-accent: #747474; /* Accent color (e.g., buttons, highlights) */
    --color-secondary-accent: #707070;
    --color-text: #ffffff; /* Text color for better contrast */
    --color-accent-hover: #6e6e6e; /* Accent hover state */
    --color-button-border:#9a9a9a;
    --color-topbar-backgrund: #5c5c5c;
    --color-topbar-button-background: #414141;
    --color-body: #191919;
    --color-input-placeholder: #1a1a1a;
}

body {
    background-color: var(--color-body);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: var(--color-accent);
    text-transform: none;
}

h1 {
    color: var(--color-text)
}

h2 {
    color: var(--color-text)
}

h3 {
    color: var(--color-text);
}

button {
    color: var(--color-text);
    background-color: var(--color-base);
    border-color: var(--color-button-border);
    border-radius: 2px;
}

.return-button-container {
    top: 10%;
    left: 90%;
}

.return-button {
    width: 2cm;
    height: 1cm;
}

.add-to-team-button {
    width: 2cm;
    height: 1cm;
    top: 20%;
    left: 90%
}  

.capitalize {
    text-transform: capitalize;
    color: var(--color-text);
}

.center-container {
    display: flex;            /* Activate Flexbox */
    justify-content: center;  /* Center items horizontally */
    align-items: center;      /* Center items vertically */
    height: 100%;             /* Make the container fill the available space */
}

.header {
    padding-top: 110px;
    text-align: center;
    font-weight: 2000;
}

.team-builder-team-container {
    margin-top: 6%;
    text-align: center;
    display: flex; /* Use Flexbox for alignment */
    flex-wrap: wrap; /* Allow wrapping if there are too many items for one row */
    gap: 15px; /* Add space between cards */
    justify-content: center; /* Center the cards horizontally */
}

.team-builder-name {
    width: 100%;
}

.pokemon-team-card {
    background-color: var(--color-base);
    height: 200px;
    width: 120px;
    border-radius: 4px;
    padding: 10px;
    text-transform: capitalize;
    align-content: center;
    font-size: small;
}

.pokemon-team-image {
    width: 100px;
}

.pokemon-team-button {
    border: 2px solid var(--color-accent);
    transition: all 0.2s ease;
}

.pokemon-team-button:hover {
    background-color: var(--color-accent-hover);
    cursor: pointer;
}

.pokemon-save-team-button {
    border: 2px solid var(--color-accent);
    transition: all 0.2s ease;
    scale: 1.3;
}

.pokemon-save-team-button:hover {
    background-color: var(--color-accent-hover);
    cursor: pointer;
}

.pokemon-team-search {
    align-items: center;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* Center horizontally */
    align-items: center;       /* Center vertically */
    margin: 3%;
}

.pokemon-team-search input {
    padding: 10px;
    background-color: var(--color-base);
    color: var(--color-text);
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    transition: all 0.2s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pokemon-team-search input::placeholder {
    color: var(--color-input-placeholder);
}

.pokemon-team-search input:focus {
    background-color: var(--color-accent-hover);
    outline: none;
}

.pokemon-team-results-button {
    border: 2px solid var(--color-accent);
    transition: all 0.2s ease;
    scale: 1.2;
    margin: 20px;
}

.pokemon-team-results-button:hover {
    background-color: var(--color-accent-hover);
    cursor: pointer;
}

.no-results {
    display: flex; /* Use Flexbox for alignment */
    justify-content: center;
    padding-top: 30px;
    color: var(--color-text);
    font-size: large;
    margin-bottom: 300px;
}

.pokemon-container {
    display: flex; /* Use Flexbox for alignment */
    flex-wrap: wrap; /* Allow wrapping if there are too many items for one row */
    gap: 15px; /* Add space between cards */
    justify-content: center; /* Center the cards horizontally */
    align-items: center; /* Align items vertically if needed */
}

.pokemon-card {
    border-radius: 10px; /* Make the edges rounded */
    padding: 10px; /* Add padding inside the card */
    text-align: center; /* Center the content in the card */
    color: var(--color-text);
    text-transform: capitalize;
    font-size: 20px;
    background-color: var(--color-base); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    width: 250px; /* Fixed width for uniformity */
    transition: background-color 0.3s ease, transform 0.1s ease-in-out;
}

.pokemon-image {
    width: 150px;
}

.pokemon-image-inspect {
    width: 200px;
}

.parent-container-inspect {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start (left) */
    padding-top: 10%;
    padding-left: 6%;
}

.pokemon-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.card-and-stats-wrapper {
    display: flex;
    align-items: center;
}

.pokemon-card-inspect {
    border: 2px solid var(--color-accent);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: var(--color-text);
    text-transform: capitalize;
    font-size: 25px;
    background-color: var(--color-base);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 250px;
}

.pokemon-types {
    scale: 1.75;
}

.pokemon-stats {
    width: 300px;
    padding-left: 4%;
    align-items: center;
}

.pokemon-stats h2 {
    margin: 1% 0 4% 0; /* Reduce spacing between text lines */
    line-height: 1.5;
}

.radar-chart {

}

.pokemon-card:hover {
    background-color: #424242;
    cursor: pointer;
    transform: scale(1.01);
}

.pokemon-card:active {
    background-color: var(--color-accent-hover);
}

.team-builder-name-input {
    padding: 10px;
    background-color: var(--color-base);
    color: var(--color-text);
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    transition: all 0.2s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.team-builder-name-input::placeholder {
    color: var(--color-input-placeholder)
}

.team-builder-name-input:focus {
    background-color: var(--color-accent-hover);
    outline: none;
}

.topBar {
    top: 0px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--color-topbar-backgrund);
    overflow: hidden;
    padding: 1%;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    z-index: 9999;
}

.topBar a {
    background-color: var(--color-topbar-button-background);
    padding: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: var(--color-text);
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 6px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    cursor: pointer; 
}

.topBar a:hover {
    background-color: var(--color-accent-hover);
}

.dropdown {
    position: fixed; /* Ensure dropdown is positioned relative to the viewport */
    top: 60px; /* Adjust to place it below the fixed TopBar */
    left: auto; /* Optional: if alignment depends on dynamic positioning */
    right: 20px; /* Align the dropdown to the right edge */
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    padding: 10px;
    min-width: 150px;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown ul li {
    padding: 10px;
    cursor: pointer;
}

.dropdown ul li:hover {
    background-color: #f1f1f1;
}

#notification-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.notification {
    background-color: #4caf50; /* Green for success */
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    animation: fade-in 0.3s ease-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-out {
    animation: fade-out 0.5s ease-out forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}