

/* Original colors

--color-base: #052964; 
--color-accent: #de9c19; 
--color-secondary-accent: #02183C;
--color-text: #FCB21C; 
--color-accent-hover: #2980b9;
--color-button-border:#de9c19;

*/




:root {
    --color-base: #323232; /* Base color (e.g., background) */
    --color-accent: #747474; /* Accent color (e.g., buttons, highlights) */
    --color-secondary-accent: #707070;
    --color-text: #ffffff; /* Text color for better contrast */
    --color-accent-hover: #6e6e6e; /* Accent hover state */
    --color-button-border:#9a9a9a;
    --color-topbar-backgrund: #5c5c5c;
    --color-topbar-button-background: #414141;
  }

body {
    background-color: #191919;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: var(--color-accent);
}

h1 {
    color: var(--color-text)
}

h2 {
    color: var(--color-text)
}

h3 {
    color: var(--color-text);
}

button {
    color: var(--color-text);
    background-color: var(--color-base);
    border-color: var(--color-button-border);
    border-radius: 2px;
}

.capitalize {
    text-transform: capitalize;
}

.radar-chart {
    display: flex;
    position: relative;
    margin-left: 45%;
    margin-top: -30%;
}

.center-container {
    display: flex;            /* Activate Flexbox */
    justify-content: center;  /* Center items horizontally */
    align-items: center;      /* Center items vertically */
    height: 100%;             /* Make the container fill the available space */
}

.header {
    padding-top: 110px;
    text-align: center;
    font-weight: 2000;
}

.team-builder-team-container {
    margin-top: 40px;
    text-align: center;
    display: flex; /* Use Flexbox for alignment */
    flex-wrap: wrap; /* Allow wrapping if there are too many items for one row */
    gap: 15px; /* Add space between cards */
    justify-content: center; /* Center the cards horizontally */
}

.team-builder-name {
    width: 100%;
}

.pokemon-team-card {
    background-color: var(--color-base);
    height: 200px;
    width: 120px;
    border-radius: 4px;
    padding: 10px;
    text-transform: capitalize;
    align-content: center;
    font-size: small;
}


.pokemon-team-image {
    width: 100px;
}

.pokemon-team-button {
    border: 2px solid var(--color-accent);
    transition: all 0.2s ease;
}

.pokemon-team-button:hover {
    background-color: var(--color-accent-hover);
    cursor: pointer;
}

.pokemon-team-search {
    align-items: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* Center horizontally */
    align-items: center;       /* Center vertically */
}

.pokemon-team-search input {
    padding: 10px;
    background-color: var(--color-base);
    color: var(--color-text);
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    transition: all 0.2s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pokemon-team-search input::placeholder {
    color: #1a1a1a;
}

.pokemon-team-search input:focus {
    background-color: var(--color-accent-hover);
    outline: none;
}

.no-results {
    display: flex; /* Use Flexbox for alignment */
    justify-content: center;
    padding-top: 30px;
    color: var(--color-text);
    font-size: large;
    margin-bottom: 300px;
}

.pokemon-container {
    display: flex; /* Use Flexbox for alignment */
    flex-wrap: wrap; /* Allow wrapping if there are too many items for one row */
    gap: 15px; /* Add space between cards */
    justify-content: center; /* Center the cards horizontally */
    align-items: center; /* Align items vertically if needed */
    margin: 60px 0; /* Add margin above and below */
}

.pokemon-card {
    
    border-radius: 10px; /* Make the edges rounded */
    padding: 10px; /* Add padding inside the card */
    text-align: center; /* Center the content in the card */
    color: var(--color-text);
    text-transform: capitalize;
    font-size: 20px;
    background-color: var(--color-base); /* Light background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    width: 250px; /* Fixed width for uniformity */
    transition: background-color 0.3s ease, transform 0.1s ease-in-out;
}

.pokemon-container-inspect {
    display: flex; /* Enable horizontal layout */
    flex-direction: row; /* Ensure children are laid out in a row */
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start; /* Align items to the left */
    gap: 20px; /* Space between card and stats */
    margin: 2% 4%; /* Add margins around the container */
}

.pokemon-card-inspect

.pokemon-stats {
    flex-grow: 1; /* Allow stats to grow and take remaining space */
    align-self: flex-start; /* Align stats to the top of the card */
}

.pokemon-types {
    margin: 2% 4%; 
    text-align: left; 
    color: var(--color-text);
}

.pokemon-image {
    width: 150px;
}

.pokemon-image-inspect {
    width: 200px;
}

.pokemon-card-inspect {
    border: 2px solid var(--color-accent); /* Add a border for the card */
    border-radius: 10px; /* Make the edges rounded */
    padding: 10px; /* Add padding inside the card */
    text-align: center; /* Center the content in the card */
    color: var(--color-text);
    text-transform: capitalize;
    font-size: 25px;
    background-color: var(--color-base); /* Light background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    width: 250px; /* Fixed width for uniformity */
    transition: background-color 0.3s ease;
}

.pokemon-card:hover {
    background-color: var(--color-accent-hover);
    cursor: pointer;
    transform: scale(1.02);
}

.topBar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--color-topbar-backgrund);
    overflow: hidden;
    padding: 1%;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    z-index: 9999;
}

.topBar a {
    background-color: var(--color-topbar-button-background);
    padding: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: var(--color-text);
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 6px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    cursor: pointer; 
}

.topBar a:hover {
    background-color: var(--color-accent-hover);
}




.login {
    margin-top: 110px;
}